<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentAppKey</key>
	<string>ac2LmQp5TFKdUC5DQAJnOg</string>
	<key>developmentAppSecret</key>
	<string>mRTUcr3JQP2h33-na6ikRw</string>
	<key>productionAppKey</key>
	<string>SmJrV_0USs28_3-72HpEbA</string>
	<key>productionAppSecret</key>
	<string>xPO4O3czSEisvQA0FX6Qfw</string>
	<key>useWKWebView</key>
	<true/>
</dict>
</plist>
