<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentAppKey</key>
	<string>Y2XOANSJRBGUPS9qRkGzRQ</string>
	<key>developmentAppSecret</key>
	<string>Ms0_JFM3R6W_0ZeQW_F_qQ</string>
	<key>productionAppKey</key>
	<string>Uk1xRGI4S7q3fplwweIY4Q</string>
	<key>productionAppSecret</key>
	<string>mJbMV73FRhSYblHDbMqsdg</string>
	<key>useWKWebView</key>
	<true/>
</dict>
</plist>
