<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentAppKey</key>
	<string>lC-AKEGBRtGBlh8U03CatQ</string>
	<key>developmentAppSecret</key>
	<string>ZGtdKxcQQgOlMAvoNSvg4Q</string>
	<key>productionAppKey</key>
	<string>k_EoxqdfT_6WFazZVGi6wQ</string>
	<key>productionAppSecret</key>
	<string>64wwwpX8R8Strty8QstJmg</string>
	<key>useWKWebView</key>
	<true/>
</dict>
</plist>
