//
//  Staging.xcconfig
//  QOT
//
//  Created by karmic on 19.02.21.
//  Copyright © 2021 Tignum. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

URL_SCHEME = https
URL_HOST = esb-staging.tignum.com
SCHEME_NAME = DEV
AIRSHIP_CONFIG = AirshipConfigINT
