<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tignum.qot.novartis</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qot</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2313</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>c5b6a77e0ac832aeb121a8444afaba1522a28469</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>HOCKEY_APP_ID</key>
	<string>4f2cc0d018ea4a2884e052d72eb9c456</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>s3-eu-west-1.amazonaws.com/qotapp.bucket/v2/version.json</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSRequiresCertificateTransparency</key>
				<true/>
			</dict>
			<key>tignum.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>QOT needs access to calendar to prepare events and to create calendar events.</string>
	<key>NSRemindersUsageDescription</key>
	<string>QOT needs access to reminder to remind you and to help you</string>
	<key>NSCameraUsageDescription</key>
	<string>QOT needs camera access for changing images.</string>
	<key>NSContactsUsageDescription</key>
	<string>QOT needs access to contacts to create calendar events.</string>
	<key>NSHumanReadableCopyright</key>
	<false/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>QOT needs access to your location update your time zone.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>QOT needs access to your location update your time zone.</string>
	<key>NSLocationUsageDescription</key>
	<string>QOT needs access to your location update your time zone.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>QOT needs access to your location to track your steps.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>QOT needs access to your Library to set your images.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Apercu-Regular.otf</string>
		<string>Apercu-Medium.otf</string>
		<string>Apercu-Bold.otf</string>
		<string>Apercu-Light.otf</string>
		<string>BentonSansCond-Light.otf</string>
		<string>Simple-Regular.ttf</string>
		<string>BentonSans_Regular.otf</string>
		<string>BentonSans_Book.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.appsee.ApiKey</key>
	<string>502a6a70465640deb21ce32c26a7970d</string>
</dict>
</plist>
