<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_CENTER_ID</key>
	<string>51390342-f340-4f4f-9a34-f58f8f9b550c</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TIGNUM X</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tignum.qot.v2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qot</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qualityoftime</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.tignum.qot.v2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tignum.x.v3</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tignumx</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>readdle-spark</string>
		<string>ymail</string>
		<string>cydia</string>
		<string>undecimus</string>
		<string>sileo</string>
		<string>zbra</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>TIGNUM X needs access to calendar to prepare events and to create calendar events.</string>
	<key>NSCameraUsageDescription</key>
	<string>TIGNUM X needs camera access for changing images.</string>
	<key>NSContactsUsageDescription</key>
	<string>TIGNUM X needs access to contacts to create calendar events.</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>TIGNUM X needs Health app access to calculate Impact Readiness from your sleep pattern.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>TIGNUM X needs Health app access to calculate Impact Readiness from your sleep pattern.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>TIGNUM X needs Health app access to calculate Impact Readiness from your sleep pattern.</string>
	<key>NSHumanReadableCopyright</key>
	<false/>
	<key>NSLocationUsageDescription</key>
	<string>TIGNUM X needs access to your location to update your time zone.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TIGNUM X needs access to your location to update your time zone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TIGNUM X needs access to your Library to set your images.</string>
	<key>NSRemindersUsageDescription</key>
	<string>TIGNUM X needs access to reminder to remind you and to help you</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>DailyPrepIntent</string>
		<string>ReadVisionIntent</string>
		<string>WhatsHotIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Apercu-Regular.otf</string>
		<string>Apercu-Medium.otf</string>
		<string>Apercu-Bold.otf</string>
		<string>Apercu-Light.otf</string>
		<string>BentonSansCond-Light.otf</string>
		<string>Simple-Regular.ttf</string>
		<string>BentonSans_Regular.otf</string>
		<string>BentonSans_Book.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreenX</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>scheme_name</key>
	<string>${SCHEME_NAME}</string>
	<key>url_host</key>
	<string>${URL_HOST}</string>
	<key>url_scheme</key>
	<string>${URL_SCHEME}</string>
</dict>
</plist>
