<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>learn</key>
	<dict>
		<key>title</key>
		<string>Learn Explainer</string>
		<key>imageURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/content/QOT+Help+Section+Video+Thumbnails/Learn_Help_Video_Thumbnail.jpg</string>
		<key>videoURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/videos/Help+Screencasts/QOT_Help_Screencasts_LEARN.m4v</string>
		<key>message</key>
		<string>The LEARN Section represents the foundation of everything you need to know to really get the most out of the platform. There are 55 strategies categorized by our four main pillars, Movement, Nutrition, Mindset, and Recovery, as well as our foundational videos and habituation strategies.
To get into a category, simply tap on the bubble. Once in the bubble, any strategies you have read will appear translucent. Any strategies you have not yet read will appear brighter and colored in. Each strategy bubble shows the title of the strategy and an estimated time that it will take you to read the strategy. Tapping on the bubble will take you to the full text of the strategy. One swipe left will bring you to the bullet points, which make up a short, easy-to-read summary that explains what the strategy is in more detail. Each of the QOT55 Strategies also has an audio component, which you can access by swiping left once more.

Return back to the strategy overview by tapping the icon in the top left corner of the screen. You can scroll between the different strategies by swiping right and left. At the top of the screen, you will see which category of strategy you are in (Movement, Nutrition, Mindset, Recovery, Habituation, or Foundation). 
On the home screen, the bubbles indicate how many of each type of strategy you have reviewed. Once the circle surrounding the bubble is complete, you&apos;ve reviewed all of that category. 
After getting a good base knowledge of the QOT55 Strategies, you can learn how these strategies are applied to real-world experiences by checking out What&apos;s Hot. You can do this by tapping on What&apos;s Hot in the top right corner of the screen. In What&apos;s Hot, we post various articles of current events, client experiences, our bi-weekly blog, and unique insights on new studies that are happening and how you can analyze these events from a QOT perspective.</string>
	</dict>
	<key>me</key>
	<dict>
		<key>title</key>
		<string>Me Explainer</string>
		<key>imageURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/content/QOT+Help+Section+Video+Thumbnails/Me_Help_Video_Thumbnail.png</string>
		<key>videoURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/videos/Help+Screencasts/QOT_Help_Screencasts_ME.m4v</string>
		<key>message</key>
		<string>The ME section is composed of two parts: My Data and My Why. You can navigate between these by swiping left and right.

In My Data, you will see different categories: Peak Performance, Intensity, Meetings, Travel, Sleep, and Activity as well as an anchor image that ties together My Why and My Data. To get more insights, simply tap on the data point. Red indicates that a certain data point needs work; white indicates that you are on track and have great statistics for that item. After tapping on a data point, you&apos;ll notice several different graphs. To learn about each graph, simply tap the information icon on the bottom left corner of whichever one you want to learn more about.

The My Why section contains your To Be Vision, Weekly Choices, and QOT Partners. Your To Be Vision is the most important aspect of QOT, as each strategy you use will be tied to your To Be Vision. To edit your To Be Vision, simply tap on the pencil icon on the top right corner of the screen. You can then change the title and text of your To Be Vision. You can also upload an anchor image that is important to you by selecting the + icon at the bottom of the screen. 
Within My Why, you&apos;ll also see your Weekly Choices. These are selected according to your QOT Learning Plan or by you each week (depending on where you are within the QOT Learning Plan). Simply tap on the Weekly Choices to see more details. You can then scroll up and down to see the Weekly Choices for your current week and for past weeks. To learn more about a Weekly Choice strategy, simply tap on the title. You are then brought to the strategy with full text, bullets, and audio. To return to the My Why home screen, simply tap the arrow in the top left corner of the screen.</string>
	</dict>
	<key>prepare</key>
	<dict>
		<key>title</key>
		<string>Prepare Explainer</string>
		<key>imageURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/content/QOT+Help+Section+Video+Thumbnails/Prepare_Help_Video_Thumbnail.png</string>
		<key>videoURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/videos/Help+Screencasts/QOT_Help_Screencasts_PREPARE.m4v</string>
		<key>message</key>
		<string>The PREPARE section has two main components, the QOT Coach and My Prep.

The QOT Coach is there to help you with certain struggles you are dealing with as well as to help you prepare for events. The QOT Coach asks you a certain prompt to gauge what you need help with. You can then select whether you&apos;re struggling and need help with a certain situation or whether you&apos;re preparing for a certain event. Simply tap on the prompt that matches your situation most closely.

If you indicate that you need help preparing for an event, the QOT Coach will ask you what type of event you are preparing for. Upon tapping on an event category, the QOT Coach brings up the event-specific preparation. Each item has a + icon on the right with more detailed information. The title of the preparation also typically includes a video with a short description. As you expand each item, you will see details of that preparation. If the item is based on a QOT55 Strategy, you can tap read more to view that strategy in detail.

You can save an event preparation to My Prep by tapping on the icon on the top right corner of the screen. You will then have the option to add the preparation to future events in your calendars that are synced with QOT.

After this, you can access that specific preparation by either swiping left or tapping on the My Prep title at the top right corner of the screen. The titles in My Prep tell you how long until your event, what the event is, and how many preparation items you have completed. With QOT Coach and My Prep, you will become more easily prepared for any of your upcoming events.</string>
	</dict>
	<key>guide</key>
	<dict>
		<key>title</key>
		<string>Guide Explainer</string>
		<key>imageURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/content/QOT+Help+Section+Video+Thumbnails/Guide_Help_Video_Thumbnail.jpg</string>
		<key>videoURL</key>
		<string>https://s3.eu-central-1.amazonaws.com/tignum-content/videos/Help+Screencasts/QOT_Help_Screenshots_GUIDE.MP4</string>
		<key>message</key>
		<string>The GUIDE section provides you with knowledge on how to get the most out of QOT&apos;s features and content. This section includes your Daily Prep Minute, QOT Learning Plan, QOT Feature Explainers, and push notifications that QOT sends you throughout the day. This section will show these pieces of content from the current day as well as the past two days so that you can return to specific items you may want to learn more about.

The first thing you&apos;ll see in your GUIDE is your Daily Prep Minute, which is a reflection and awareness exercise that takes less than a minute and provides you with advice for the day ahead from your QOT Coach. The Daily Prep Minute is available in the GUIDE throughout the day starting at 5:00 am, which is when you&apos;ll simultaneously receive a corresponding push notification. After you complete your Daily Prep Minute, the GUIDE will display your results along with the feedback from your QOT Coach.

Next, you&apos;ll see the QOT Learning Plan which appears every morning. You&apos;ll also receive a reminder push notification in the afternoon if you haven&apos;t already accessed this content for the day. Your QOT Learning Plan is designed to help you become familiar with the QOT55 Strategies in the most effective and efficient way possible.

In addition to the QOT Learning Plan, the GUIDE also contains QOT Feature Explainers, which are displayed each morning. Tapping on a QOT Feature Explainer triggers a popup window, which gives you a further deep dive of the specific feature in QOT. Tapping on the button at the bottom of the screen will take you directly to this specific feature in QOT.

The GUIDE section also includes:

_A recovery/sleep strategy that will appear each night on Mondays, Tuesdays, Thursdays, and Fridays. Please note that these recovery and sleep strategies are independent from your QOT Learning Plan.

_Weekly Choices summary that will appear Wednesday evenings. To start off, your Weekly Choices will include the last five completed strategies from your QOT Learning Plan. As soon as you have finished your QOT Learning Plan, you will be able to customize your Weekly Choices by selecting your own specific strategies each week.

_To Be Vision push notifications that will be sent to you each Sunday. Because your To Be Vision in an integral part of QOT, this reminder is also shown in the GUIDE section. Tapping on the To Be Vision reminder in the GUIDE takes you directly to your To Be Vision in the ME section of QOT. 
_Peak Performance Preparation push notification reminders that you receive each Sunday. Tapping on this element takes you to the My Prep portion of the PREPARE section in order to review and prepare for any upcoming peak performances you have this week.

Even after you&apos;ve completed all QOT Learning Plan strategies and the QOT Feature Explainers, your GUIDE will continue display your Daily Prep Minute as well as all messages that QOT sends you throughout the day. Whenever new features or updates are released, your GUIDE will introduce you to them through additional QOT Feature Explainers.</string>
	</dict>
</dict>
</plist>
