<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extended</key>
	<array>
		<dict>
			<key>title</key>
			<string>Build your foundation to achieve the benefits of QOT by watching the Performance Foundation videos in the LEARN Section.</string>
			<key>imageName</key>
			<string>slide_extended_01</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Learn about the Performance Habituation strategy, Creating Self-Image, in the LEARN Section.</string>
			<key>imageName</key>
			<string>slide_extended_02</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Write your personal To Be Vision by going to "My Why" in the ME Section.</string>
			<key>imageName</key>
			<string>slide_extended_03</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Learn the 55 QOT Strategies to help you make your personal To Be Vision happen.</string>
			<key>imageName</key>
			<string>slide_extended_04</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Add a sensor through the sidebar to learn more about your sleep and activity in the ME Section.</string>
			<key>imageName</key>
			<string>slide_extended_05</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Go to the PREPARE Section to prepare for your next key event by applying event-specific performance preparation protocols.</string>
			<key>imageName</key>
			<string>slide_extended_06</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tap on the top, right icon and link it to a calendar entry - you will see this checklist in the note section of your calendar event.</string>
			<key>imageName</key>
			<string>slide_extended_07</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Tap on your QOT push notifications to stay you on track. You can review your message in the QOT Guide.</string>
			<key>imageName</key>
			<string>slide_extended_08</string>
		</dict>
	</array>
	<key>basic</key>
	<array>
		<dict>
			<key>subtitle</key>
			<string>The LEARN Section contains your QOT55 Strategies, your foundational QOT content, as well as new weekly content.</string>
			<key>title</key>
			<string>LEARN ALL QOT STRATEGIES</string>
			<key>imageName</key>
			<string>slide_basic_01</string>
		</dict>
		<dict>
			<key>subtitle</key>
			<string>The ME Section holds your To Be Vision, Weekly Choices, QOT Partners, and provides you with unique data about yourself and others like you.</string>
			<key>title</key>
			<string>TRACK YOUR DATA AND CREATE YOUR WHY</string>
			<key>imageName</key>
			<string>slide_basic_02</string>
		</dict>
		<dict>
			<key>subtitle</key>
			<string>The PREPARE Section allows your QOT Coach to help you prepare for your most important events.</string>
			<key>title</key>
			<string>PREPARE FOR UPCOMING KEY EVENTS</string>
			<key>imageName</key>
			<string>slide_basic_03</string>
		</dict>
		<dict>
			<key>subtitle</key>
			<string>The GUIDE Section helps you get ready for your day with your Daily Prep Minute, QOT Learning Plan, and push notifications.</string>
			<key>title</key>
			<string>FOLLOW YOUR PERSONAL LEARN PLAN</string>
			<key>imageName</key>
			<string>slide_basic_04</string>
		</dict>
		<dict>
			<key>subtitle</key>
			<string>Use the help section, sidebar, and main navigation to explore QOT.</string>
			<key>title</key>
			<string>EASILY NAVIGATE THROUGH QOT</string>
			<key>imageName</key>
			<string>slide_basic_05</string>
		</dict>
	</array>
</dict>
</plist>
