div.text {
    height: 143px;
    -webkit-column-width: 170px;
    -webkit-column-gap: 25px;
    color: white;
    font-size: 16px;
    font-family: "BentonSans-Book";
    line-height: 28px;
    text-align: justify;
    letter-spacing: -0.4;
}
